/* Write your code here */

* {
  margin: 0px;
}

.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  height: 100vh;
  background-size: cover;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #ffffff;
}

.card-container {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.arrow-image {
  width: 20px;
  height: 20px;
  margin: 20px;
}

.review-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person-image {
  width: 50px;
  height: 50px;
  margin: 20px;
}
